<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mandados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12"> 
        <ion-label class="negritas" color="success" >Direccion Inicial</ion-label>
      </ion-col>
      
      <ion-col size="2">
        <ion-button color="primary" (click)="inicio()" >
          <ion-icon name="location"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="10">
        <ion-item>
          <ion-label class="ion-text-wrap" > {{ orden.direction_init }} </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item lines="none" color="transparent" >
          <label class="custom-field one">
            <textarea [(ngModel)]="orden.comment_init" required rows="3"></textarea>
            <span class="placeholder">¿Que se va arealizar?</span>
          </label>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>

  

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-label class="negritas" color="danger" >Direccion del destino</ion-label>
      </ion-col>

      <ion-col size="2">
        <ion-button color="primary" (click)="final()">
          <ion-icon name="location"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="10">
        <ion-item>
          <ion-label class="ion-text-wrap" > {{ orden.direction_final }} </ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item lines="none" color="transparent" >
          <label class="custom-field one">
            <textarea [(ngModel)]="orden.comment_final" required rows="3"></textarea>
            <span class="placeholder">¿Que se va arealizar?</span>
          </label>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>

      <ion-col size="12">
        <ion-label>Meodo de pago</ion-label>
        <ion-item>
          
          <ion-select placeholder="Selecciones un metodo" [(ngModel)]="orden.payment" >
            <ion-select-option value="Efectivo">Efectivo</ion-select-option>
            <ion-select-option value="Tarjeta">Tarjeta</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>

      <ion-col size="4" offset="4">
        <ion-button (click)="guardar()" style="width: 100%;" [disabled]="loadin">
          <ion-label *ngIf="!loadin">
            Guardar 
          </ion-label> 
          <ion-spinner *ngIf="loadin" name="lines-small"></ion-spinner>
        </ion-button>
      </ion-col>
    
    </ion-row>
  </ion-grid>

</ion-content>
