<ion-header [translucent]="true" class="ion-no-border" mode="ios">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" >
    <ion-img src="assets/img/software.png"></ion-img>
  </ion-item>

  <ion-item>
    <p style="text-align: justify; font-size: 18px;" >
      App desarrollado por Garaco Software. 
  
      Voy express es una app con la cual se pretende ayudar a las personas 
      dando un exelente servicio y realizando sus peticiones, actualmente 
      es prioridad quedarse en casa, asi que nosotros nos encargamos de realizar tus 
      pagos, compras, servicios, etc.
      
    </p>
  </ion-item>



</ion-content>
