<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card href="mandados">
    <ion-card-content>
      <ion-row>
        <ion-col size="8">
          <ion-card-title>Mandados</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-thumbnail>
            <img src="assets/img/mandados.jpg" alt="">
          </ion-thumbnail>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card href="compras">
    <ion-card-content>
      <ion-row>
        <ion-col size="3">
          <ion-thumbnail>
            <img src="assets/img/compras.jpg" alt="">
          </ion-thumbnail>
        </ion-col>
        <ion-col>
          <ion-card-title>Compras</ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card href="servicios">
    <ion-card-content>
      <ion-row>
        <ion-col size="8">
          <ion-card-title>Servicios</ion-card-title>
        </ion-col>
        <ion-col>
          <ion-thumbnail>
            <img src="assets/img/servicios.jpg" alt="">
          </ion-thumbnail>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card href="mis-datos">
    <ion-card-content>

      <ion-row>
        <ion-col size="3">
          <ion-thumbnail>
            <img src="assets/img/datos.jpg" alt="">
          </ion-thumbnail>
        </ion-col>
        <ion-col>

          <ion-card-title>Mis datos</ion-card-title>  
        </ion-col>
      </ion-row>

    </ion-card-content>
  </ion-card>
  

</ion-content>
