<ion-header class="ion-no-border" >
  <ion-toolbar style="text-align: center;" color="primary" >
    <ion-title>voy express</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-img src="assets/img/logo.jpg"></ion-img>    
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!envio" fixed>
    <ion-row>
      <ion-col size="12">
        <ion-item style="width: 60%; left: 20%;" >
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email" type="text"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item style="width: 40%; left: 30%;" lines="none" >
        
          <ion-button expand="block" (click)="send()" >
            siguiente
          </ion-button>
          
        </ion-item>  
      </ion-col>

      <ion-col size="12">
        <ion-item style="width: 40%; left: 30%;" lines="none" href="register" >
        
          <ion-label color="primary" >Reistrarme</ion-label>
          
        </ion-item>  
      </ion-col>
      
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="envio" fixed>
    <ion-row>
      <ion-col size="12">
        <ion-item style="width: 60%; left: 20%;" >
          <ion-label position="floating">Ingrese su Codigo</ion-label>
          <ion-input [(ngModel)]="codigo" type="text">  </ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item style="width: 40%; left: 30%;" lines="none" >
        
          <ion-button expand="block" (click)="login()" >
            Ingresar 
          </ion-button>
        
        </ion-item>  
      </ion-col>

      <ion-col size="12" *ngIf="loadin"  >

        <ion-item style="width: 40%; left: 30%;" lines="none" >
        
          <ion-label>
            Cargando....
          </ion-label>
        
        </ion-item>  
        
      
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
      </ion-col>
      
    </ion-row>
  </ion-grid>

</ion-content>
