<ion-header class="ion-no-border" >
  <ion-toolbar style="text-align: center;" color="primary" >
    <ion-title>voy express</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="8" offset="2" >
        <ion-img src="assets/img/logo.png"></ion-img>    
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="!envio" fixed>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" color="transparent" >
          <label class="custom-field one">
            <input [(ngModel)]="email" required type="text"/>
            <span class="placeholder">Email</span>
          </label>
        </ion-item>
      </ion-col>

      <ion-col size="12" style="width: 40%; ">
        <ion-button expand="block" (click)="send()" [disabled]="spinner" >
          <ion-label *ngIf="!spinner">
            siguiente 
          </ion-label> 
          <ion-spinner *ngIf="spinner" name="lines-small"></ion-spinner>
        </ion-button> 
      </ion-col>

      
        <ion-item color="transparent" style="left: 5%;" href="register" lines="none">
          <ion-label text-center color="primary" > ¿Es tu primera vez? Crea una cuenta</ion-label>
        </ion-item>
      
      
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="envio" fixed>
    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" color="transparent" >
          <label class="custom-field one">
            <input [(ngModel)]="codigo" required type="text"/>
            <span class="placeholder">Ingrese su Codigo</span>
          </label>
        </ion-item>
      </ion-col>

      <ion-col size="12" style="width: 40%; " >
        <ion-button expand="block" (click)="login()" [disabled]="loadin">
          <ion-label *ngIf="!loadin">
            Ingresar 
          </ion-label> 
          <ion-spinner *ngIf="loadin" name="lines-small"></ion-spinner>
        </ion-button> 
      </ion-col>
    </ion-row>
  </ion-grid>

  <div id="map" style="display: none;" ></div>

</ion-content>
