<ion-header class="ion-no-border" >
  <ion-toolbar style="text-align: center;" color="primary" >
    <ion-title>voy express</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-item lines="none" >
      <ion-img src="assets/img/logo.jpg"></ion-img>    
    </ion-item>

    <ion-list *ngIf="!envio">
      <ion-grid fixed>
        <ion-row>
        
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Nombre</ion-label>
              <ion-input [(ngModel)]="users.name" type="text" ></ion-input>
            </ion-item>
          </ion-col>
    
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Apellidos</ion-label>
              <ion-input [(ngModel)]="users.surname" type="text" ></ion-input>
            </ion-item>
          </ion-col>
    
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input [(ngModel)]="users.email" type="email" ></ion-input>
            </ion-item>
          </ion-col>
    
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating">Telefono</ion-label>
              <ion-input [(ngModel)]="users.phone" type="number" ></ion-input>
            </ion-item>
          </ion-col>
    
        </ion-row>
      </ion-grid>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="2">
            <ion-button color="primary" (click)="direction()" >
              <ion-icon name="location"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="10">
            <ion-item>
              <ion-label class="ion-text-wrap" > {{ users.direction }} </ion-label>
            </ion-item>
          </ion-col>

          <ion-col size="12" style="width: 40%;" >
            <ion-button expand="block" (click)="send()">
              registrar 
            </ion-button>
          </ion-col> 

        </ion-row>
      </ion-grid>


    </ion-list>

    <ion-list *ngIf="envio" >
      <ion-item style="width: 60%; left: 20%;" >
        <ion-label position="floating">Ingrese su Codigo</ion-label>
        <ion-input [(ngModel)]="codigo"  type="text"></ion-input>
      </ion-item>
  
      <ion-row>
        <ion-col size="12" style="width: 40%;" >
        
          <ion-button expand="block" (click)="login()" >
            Ingresar 
          </ion-button>
        
        </ion-col>  
      </ion-row>
      
      
    </ion-list>

    <ion-col size="12" *ngIf="loadin"  >

      <ion-item style="width: 40%; left: 30%;" lines="none" >
      
        <ion-label>
          Cargando....
        </ion-label>
      
      </ion-item>  
      
    
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-col>
    
  
</ion-content>
