<ion-header class="ion-no-border" >
  <ion-toolbar style="text-align: center;" color="primary" >
    <ion-title>voy express</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-item lines="none" >
      <ion-img src="assets/img/logo.jpg"></ion-img>    
    </ion-item>

    <ion-list *ngIf="!envio">
      <ion-grid fixed>
        <ion-row>
        
          <ion-col size="12">
            <ion-item lines="none" >
              <label class="custom-field one">
                <input [(ngModel)]="users.name" required type="text"/>
                <span class="placeholder">Nombre</span>
              </label>
            </ion-item>
          </ion-col>
    
          <ion-col size="12">
            <ion-item lines="none" >
              <label class="custom-field one">
                <input [(ngModel)]="users.surname" required type="text"/>
                <span class="placeholder">Apellidos</span>
              </label>
            </ion-item>
          </ion-col>
    
          <ion-col size="12">
            <ion-item lines="none" >
              <label class="custom-field one">
                <input [(ngModel)]="users.email" required type="text"/>
                <span class="placeholder">Email</span>
              </label>
            </ion-item>
          </ion-col>
    
          <ion-col size="12">
            <ion-item lines="none" >
              <label class="custom-field one">
                <input [(ngModel)]="users.phone" required type="text"/>
                <span class="placeholder">Telefono</span>
              </label>
            </ion-item>
          </ion-col>
    
        </ion-row>
      </ion-grid>

      <ion-grid fixed>
        <ion-row>
          <ion-col size="2">
            <ion-button color="primary" (click)="direction()" >
              <ion-icon name="location"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="10">
            
            <ion-item>
              <ion-label class="ion-text-wrap" > {{ users.direction }} </ion-label>
            </ion-item>
          </ion-col>

          <ion-col size="12" style="width: 40%;" >
            <ion-button expand="block" (click)="send()">
              registrar 
            </ion-button>
          </ion-col> 

        </ion-row>
      </ion-grid>


    </ion-list>

    <ion-list *ngIf="envio" >
      <ion-item lines="none" >
        <label class="custom-field one">
          <input [(ngModel)]="codigo" required type="text"/>
          <span class="placeholder">Ingrese su Codigo</span>
        </label>
      </ion-item>
      <ion-row>
        <ion-col size="12" style="width: 40%;" >
        
          <ion-button expand="block" (click)="login()" >
            Ingresar 
          </ion-button>
        
        </ion-col>  
      </ion-row>
      
      
    </ion-list>

    <ion-col size="12" *ngIf="loadin"  >

      <ion-item style="width: 40%; left: 30%;" lines="none" >
      
        <ion-label>
          Cargando....
        </ion-label>
      
      </ion-item>  
      
    
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-col>
    
  
</ion-content>
