/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

*, *::before, *::after {
  box-sizing: border-box;
}

.custom-field {
  position: relative;
  font-size: 14px;
  padding-top: 8px;
  margin-bottom: 5px;
  width: 100%;
  left: 0px;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 6px;
  width: 100%;
  outline: none;
  font-size: 14px;
}

.custom-field .placeholder {
  position: absolute;
  left: 12px;
  top: calc(70% + 10px);
  transform: translateY(-130%);
  color: #909090;
  transition: 
    top 0.3s ease,
    color 0.3s ease,
    font-size 0.3s ease;
}

.custom-field input.dirty + .placeholder,
.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
  top: 10px;
  font-size: 10px;
  color: #2599f8;;
}

.custom-field.one input {
  background: none;
  border: 2px solid #909090;
  transition: border-color 0.3s ease;
}

.custom-field.one input + .placeholder {
  left: 8px;
  padding: 0 5px;
}

.custom-field.one input.dirty,
.custom-field.one input:valid,
.custom-field.one input:focus {
  border-color: #2599f8;
  transition-delay: 0.1s;
  color: #555555;
}

.custom-field.one input.dirty + .placeholder,
.custom-field.one input:valid + .placeholder,
.custom-field.one input:focus + .placeholder {
  top: 20px;
  font-size: 12px;
  color: #2599f8;
  background: #fff;
}

// text area

.custom-field textarea {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 6px;
  width: 100%;
  outline: none;
  font-size: 18px;
}


.custom-field textarea.dirty + .placeholder,
.custom-field textarea:valid + .placeholder,
.custom-field textarea:focus + .placeholder {
  top: 10px;
  font-size: 10px;
  color: #2599f8;;
}

.custom-field.one textarea {
  background: none;
  border: 2px solid #909090;
  transition: border-color 0.3s ease;
}

.custom-field.one textarea + .placeholder {
  left: 8px;
  padding: 0 5px;
}

.custom-field.one textarea.dirty,
.custom-field.one textarea:valid,
.custom-field.one textarea:focus {
  border-color: #2599f8;
  transition-delay: 0.1s;
  color: #555555;
}

.custom-field.one textarea.dirty + .placeholder,
.custom-field.one textarea:valid + .placeholder,
.custom-field.one textarea:focus + .placeholder {
  top: 20px;
  font-size: 12px;
  color: #2599f8;
  background: #fff;
}


.negritas{
 font-weight: bold;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }