<ion-header [translucent]="true" class="ion-no-border" mode="ios">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start" >
      <ion-button [routerLink]="['/inicio']">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-col size="12" offset="5" *ngIf="load" >
    <ion-spinner color="primary" name="lines-small"></ion-spinner>
  </ion-col>

  <ion-card *ngFor="let list of lists" class="animated fadeIn fast">
    <ion-card-header *ngIf="list.status == 'Finalizado'" color="success" >
      <ion-card-title>{{ list.tipo }}</ion-card-title>
      <ion-card-subtitle>Fecha: {{ list.create_at | date:'d/M/yy, h:mm a'  }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-header *ngIf="list.status == 'Pendiente'" color="warning" >
      <ion-card-title>{{ list.tipo }}</ion-card-title>
      <ion-card-subtitle>Fecha: {{ list.create_at | date:'d/M/yy, h:mm a' }}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <h3> Estatus: {{ list.status }} </h3> 
      <h3> Metodo de Pago: {{ list.payment }} </h3>
    </ion-card-content>
  </ion-card>
  
</ion-content>
